@import "tailwindcss";

.input {
  @apply w-full border px-3 py-2 rounded;
}

.btn {
  @apply bg-black text-white px-4 py-2 rounded w-full;
}

.btn-sm {
  @apply px-4 py-2 bg-black text-white rounded;
}